*{
  margin: 0px;
  padding-left: 0px;
  box-sizing: border-box;

}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Poppins', sans-serif;
}
