<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="./form.css">
  <link rel="stylesheet" href="./snackbar.css">
  <script src="https://kit.fontawesome.com/88160cb0cc.js" crossorigin="anonymous"></script>
  <script src="controller.js"></script>
  <title>Kontakt</title>
</head>

<body>
  <%- include('header') %>
    <main>
      <div class="content">
        <h1>Kontakt</h1>
        <form class="contactForm" action="" method="post">
          <input class="formFirstname formElement" type="text" placeholder="Vorname" name="formFirstname" id=""
            required />
          <input class="formLastname formElement" type="text" placeholder="Nachname" name="formLastname" id=""
            required />
          <input class="formEmail formElement" type="email" placeholder="Email-Adresse" name="formEmail" id=""
            required />
          <textarea class="formMessage formElement" placeholder="Nachricht, Feedback" name="formMessage" id="" cols="30"
            rows="10" required></textarea>
          <input class="formSubmit" type="submit" name="" id="" value="Senden" />
        </form>
      <% if(emailAllowed == false){ %>
        <div id="snackbar">
          <i class="fa-solid fa-circle-exclamation"></i>
          <p>Nur eine Kontaktanfrage pro Tag möglich. Probiere es morgen erneut.</p>
        </div>
        <script>
          var snack = document.getElementById("snackbar");
          snack.className = "show";
          setTimeout(function(){ snack.className = snack.className.replace("show", ""); }, 3000);
        </script>
      <% } %>   
      </div>
    </main>
</body>
</html>
