.singleBlog{
    background-color: rgb(4, 4, 4);
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.blogContainer{
    padding-bottom: 20px;
}
.blogHeader{
    display: grid;
    grid-template-columns: 80% 20%  ;
    text-align: left;
    align-items: baseline;
    align-items: center;
}
.blogHeader .right{
    text-align: right;
}
.detailArrow:hover{
    color: rgb(151, 151, 151);
}
.blogTitle{
    display: flex;
}
.blogTitle i{
    margin-right: 15px;
}
.sameLine{
    display: flex; 
    align-items: baseline; 
    gap: 10px;
}
.blogLink{
    display: flex; 
    align-items: center; 
    gap: 10px;
    justify-content: right;
}
@media only screen and (max-width: 760px) {
    .singleBlog{
        background-color: black;
    }
}
