.singleBlog{
    background-color: rgb(4, 4, 4);
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.blogContainer{
    padding-bottom: 20px;
}
.blogHeader{
    display: grid;
    grid-template-columns: 50% 50%  ;
    text-align: left;
}
.blogLink{
    display: flex;
    gap: 10px;
    text-align: right;
}
.blogLink i{
    padding-top: 15px;
    align-items: center;
}
.detailArrow:hover{
    color: rgb(151, 151, 151);
}
@media only screen and (max-width: 760px) {
    .singleBlog{
        background-color: black;
    }
}
