body {
  font-family: "Lato", sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
  background-image: url(images/concrete_background.jpg);
  background-size: 80%;
}
header {
  display: flex;
  align-items: center;
  color: white;
  background-color: black;
}
header h1 {
  padding-left: 10%;
}
header h1 p {
  font-size: 17px;
}
header select{
    margin-top: 8px;
}
main {
  border-radius: 8px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.61);
  color: white;
}
main .content {
  margin-top: 4%;
  margin-right: 10%;
  margin-left: 10%;
}
main .content h1{
  padding-top: 20px;
}
.mobileDropdown{
  display: inline-block;
  color: white;
  background-color: black;
  border: none;
}

@media only screen and (min-width: 700px) {
  header {
    justify-content: space-between;
  }
  header .menu {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px;
    padding-right: 10%;
    align-items: center;
  }
  header .menu a {
    text-decoration: none;
    color: white;
  }
  header .menu a:hover {
    color: rgb(184, 184, 184);
  }
  .mobileDropdown {
    visibility: hidden;
  }
}
@media only screen and (max-width: 700px) {
  header .menu {
    visibility: hidden;
  }
  .mobileDropdown {
    visibility: visible;
    padding-left: 5px;
  }
  
}
